@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Boards da página</h1>   

<form>
    <div class="row">
        <div class="col-6">
            <label for="board">Insert a new todo</label>
            <input class="w-100" type="text" name="board" id="board" value="" />
        </div>
        <div class="col-3 d-flex align-content-end">
            <select class="h-auto">
                <option>Draft</option>
                <option>Doing</option>
                <option>Finished</option>
            </select>
        </div>
        <div class="col-3 d-flex align-content-end">
            <button class="h-auto btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>
</form>

<div class="row">
    <!-- Isso vai ser dinâmico -->
    <div>
        <div class="d-flex justify-content-between p-5">
            <h3>Fazendo</h3>
            <h3>3</h3>
        </div>

        <div>
            <h3>Gráfico produtos mais vendidos dashboard</h3> 

        </div>

    </div>
</div>